.wrap
  .side-bar
    .side-bar__main
      %ul.user-menu.block-center
        MYPAGE MENU
        %li.user-menu__list
          = link_to "トップ","#", class: "text-decoration-none text-color-black"
        %li.user-menu__list
          = link_to "読書記録","#", class: "text-decoration-none text-color-black"
        %li.user-menu__list
          = link_to "登録本一覧","#", class: "text-decoration-none text-color-black"
        %li.user-menu__list
          = link_to "カテゴリー", "#", class: "text-decoration-none text-color-black"
        %li.user-menu__list

  .user-info
    .user-info__top.block-center
      .user-title
        = "#{@user.nickname}さんの本棚"
      .user-details.top-line
        .left
          .user-image
            = image_tag @user.image.url, alt: '', height: '68', width: '68', class: 'user-image__body'
        .right
          .user-books-info
            ユーザーの持っている書籍情報

      %h2.title
        最近購入した書籍
      .user-books-lists.top-line
        - @buy_books.each do |book|
          .user-books-lists__book
            .book-image-box
              = image_tag book.image.url alt: '', height: '150', width: '100', class: 'book__image'
      
      %h2.title
        最近読み終わった本
      .user-books-lists.top-line
        - @readed_books.each do |book|
          .user-books-lists__book
            .book-image-box
              = image_tag book.image.url alt: '', height: '150', width: '100', class: 'book__image'




