.recollection-form
  = form_with(model: [@book,@recollection], local: true) do |f|
    .recollection-detail
      .recollection-detail__top.form-content
        読書期間
      .recollection-detail__read-term
        = f.select :read_term, options_for_select(Recollection.read_terms.keys.map {|k| [I18n.t("enums.recollection.read_term.#{k}"), k]}, selected: @recollection.read_term), {}, {class: 'select-box'}
      .error-text
        - @recollection.errors.full_messages_for(:read_term).each do |message|
          %div
            = message
      .recollection-detail__top.form-content
        読了した日
      .recollection-detail__readed_day
        = f.date_select :readed_day, {}, class: "select-box"
      .error-text
        - @recollection.errors.full_messages_for(:readed_day).each do |message|
          %div
            = message
      .recollection-detail__top.form-content
        総評価
      .recollection-detail__point
        = f.select :point, options_for_select(Recollection.points.keys.map {|k| [I18n.t("enums.recollection.point.#{k}"), k]}, selected: @recollection.point), {}, {class: 'select-box'}
      .error-text
        - @recollection.errors.full_messages_for(:point).each do |message|
          %div
            = message

    .recollection-note
      .recollection-note__top.form-content
        感想
      .recollection-note__note
        = f.text_area :note, placeholder: "感想メモを残してみましょう", class: "note-box note-area"
      .error-text
        - @recollection.errors.full_messages_for(:note).each do |message|
          %div
            = message
      .recollection-phrase__top.form-content
        アクション
      .recollection-phrase__note
        = f.text_area :phrase, placeholder: "実行したいと思った内容を記録しましょう", class: "note-box note-area"

    - if @path.is('recollections#new' || 'recollections#create')
      .btn-box
        .btn-box__book-new
          = f.submit " 感想を登録する ", class: "submit-btn text-line-none"
        .btn-box__back
          = link_to :back, class: "white-btn margin-left-40 text-line-none" do
            もどる
    - else
      .btn-box
        .btn-box__book-new
          = f.submit " 編集する ", class: "submit-btn text-line-none"
        .btn-box__back
          = link_to :back, class: "white-btn margin-left-40 text-line-none" do
            もどる