.recollection-form
  = form_with(model: [@book,@recollection], local: true) do |f|
    .recollection-detail
      .recollection-detail__top.form-content
        読書期間
      .recollection-detail__read-term
        = f.select :read_term, options_for_select(Recollection.read_terms.keys.map {|k| [I18n.t("enums.recollection.read_term.#{k}"), k]}, selected: @recollection.read_term), {}, {class: 'select-box'}
      -# .error-text
      -#   - @recollection.errors.full_messages_for(:read_term).each do |message|
      -#     %div
      -#       = message
      .recollection-detail__top.form-content
        読了した日
      .recollection-detail__readed_day
        = f.date_select :readed_day, {}, class: "select-box"
      -# .error-text
      -#   - @recollection.errors.full_messages_for(:readed_day).each do |message|
      -#     %div
      -#       = message
      .recollection-detail__top.form-content
        総評価
      .recollection-detail__rating
        = f.select :point, options_for_select(Recollection.points.keys.map {|k| [I18n.t("enums.recollection.point.#{k}"), k]}, selected: @recollection.point), {}, {class: 'select-box'}
      -# .error-text
      -#   - @recollection.errors.full_messages_for(:rating).each do |message|
      -#     %div
      -#       = message
      .recollection-detail__top.form-content
        また読みたい時
      .recollection-detail__reread_timing
        = f.select :reread_timing, options_for_select(Recollection.reread_timings.keys.map {|k| [I18n.t("enums.recollection.reread_timing.#{k}"), k]}, selected: @recollection.reread_timing), {}, {class: 'select-box'}
      -# .error-text
      -#   - @recollection.errors.full_messages_for(:reread_timing).each do |message|
      -#     %div
      -#       = message

    .recollection-note
      .recollection-note__top.form-content
        感想
      .recollection-note__note
        = f.text_area :note, placeholder: "感想メモを残してみましょう", class: "note-box note-area"
      -# .error-text
      -#   - @recollection.errors.full_messages_for(:note).each do |message|
      -#     %div
      -#       = message
      .recollection-phrase__top.form-content
        引用箇所
      .recollection-phrase__note
        = f.text_area :phrase, placeholder: "心に残った文章を保存してみましょう", class: "note-box note-area"
      -# .error-text
      -#   - @recollection.errors.full_messages_for(:note).each do |message|
      -#     %div
      -#       = message
    - if params[:controller] == "recollections" && params[:action] == "new" || params[:controller] == "recollections" && params[:action] == "create"
      .btn-box
        .btn-box__book-new
          = f.submit " 感想を登録する ", class: "submit-btn text-line-none"
        .btn-box__back
          = link_to :back, class: "white-btn margin-left-40 text-line-none" do
            もどる
    - else
      .btn-box
        .btn-box__book-new
          = f.submit " 編集する ", class: "submit-btn text-line-none"
        .btn-box__back
          = link_to :back, class: "white-btn margin-left-40 text-line-none" do
            もどる