.user-info
  .user-info__top.block-center
    .user-title.bottom-line
      = "#{@user.nickname}さんのマイページ"
    .user-details
      .left
        .left-inner
          - if @user.image.url.present?
            .user-image
              = image_tag @user.image.url, alt: '', height: '68', width: '68', class: 'user-image__body'
          .user-name
            = @user.nickname
          - if current_user.id == @user.id
            = link_to edit_user_path(@user) do
              .user-edit-link.link-btn.text-decoration-none.text-color-white
                編集
      .right
        .user-books-info
          .user-books-info__box
            .books_count
              = "書籍登録数：" + @user.books.count.to_s + "冊"
            .books_category-box
              .box1
                .category-count
                  .category-count__title
                    小説
                  .category-count__integer
                    = @novels.count.to_s + "冊"
                .category-count
                  .category-count__title
                    ビジネス
                  .category-count__integer
                    = @managements.count.to_s + "冊"
                .category-count
                  .category-count__title
                    政治・経済
                  .category-count__integer
                    = @economies.count.to_s + "冊"
                .category-count
                  .category-count__title
                    哲学・宗教
                  .category-count__integer
                    = @philosophies.count.to_s + "冊"
              .box1
                .category-count
                  .category-count__title
                    心理学
                  .category-count__integer
                    = @psychologies.count.to_s + "冊"
                .category-count
                  .category-count__title
                    自己啓発
                  .category-count__integer
                    = @motivations.count.to_s + "冊"
                .category-count
                  .category-count__title
                    マンガ
                  .category-count__integer
                    = @comics.count.to_s + "冊"
                .category-count
                  .category-count__title
                    その他
                  .category-count__integer
                    = @etcs.count.to_s + "冊"


    - if @buy_books.present?
      %h2.title
        最近購入した書籍
      .user-books-lists.top-line
        - @buy_books.each do |book|
          .user-books-lists__book
            .book-image-box
              = link_to book_path(book) do
                = image_tag book.image.url alt: '', height: '150', width: '100', class: 'book__image'
    
    -if @readed_books.present?
      %h2.title
        最近読み終わった本
      .user-books-lists.top-line
        - @readed_books.each do |book|
          .user-books-lists__book
            .book-image-box
              = link_to book_path(book) do
                = image_tag book.image.url alt: '', height: '150', width: '100', class: 'book__image'