.search-result
  %p 書籍検索結果
  .books
    - @books.each do |book|
      .content
        .content__image
          = link_to (image_tag(book.large_image_url)), book.item_url, class: 'content__image__img'
        .content__in
          .content__in__title
            = book.title
          .content__in__author
            = "著  者：#{book.author}"
          .content__in__explain
            = "出版社：#{book.publisher_name}"