.wrapper
  .contents
    .contents__all
      %h2.contents__all__title
        新着投稿
      .contents__inner
        = link_to "#" do
          .content
            .content__image
              = image_tag 'https://m.media-amazon.com/images/I/51sPGsTuF0L.jpg', alt: '', height: '200', width: '150', class: ''
            .content__in
              .content__in__title
                嫌われる勇気
              .content__in__author
                著者：岸見一郎
              .content__in__explain
                レビュー数
        = link_to "#" do
          .content
            .content__image
              = image_tag 'https://m.media-amazon.com/images/I/51mt2TcHBGL.jpg', alt: '', height: '200', width: '150', class: ''
            .content__in
              .content__in__title
                哲学と宗教全史
              .content__in__author
                著者：出口直治
              .content__in__explain
                レビュー数

        = link_to "#" do
          .content
            .content__image
              = image_tag 'https://m.media-amazon.com/images/I/51j7Ad8w1oL.jpg', alt: '', height: '200', width: '150', class: ''
            .content__in
              .content__in__title
                「働き方」の教科書―人生と仕事とお金の基本
              .content__in__author
                著者：出口治明
              .content__in__explain
                レビュー数
          

    -# .contents__categories
    -#   .category
    -#     %h2.category__title
    -#       カテゴリー？？
    -#     .category__inner
    -#       = link_to "#" do
    -#         .content
    -#           .content__image
    -#             = image_tag 'https://m.media-amazon.com/images/I/51sPGsTuF0L.jpg', alt: '', height: '200', width: '150', class: ''
    -#           .content__in
    -#             .content__in__title
    -#               嫌われる勇気
    -#             .content__in__author
    -#               著者：岸見一郎
    -#             .content__in__explain
    -#               レビュー数
        
      -# %h2.contents__category__2
      -#   歴史・地理
      -# %h2.contents__category__3
      -#   社会
      -# %h2.contents__category__5
      -#   スポーツ
      -# %h2.contents__category__6
      -#   漫画

