%h1.pageTitle
  書籍詳細ページ

.wrap-bookshow
  .main_area
    .main_area__image
      .img_box
        = image_tag @book.image.url, alt: '書籍画像', height: '180', width: '120', class: ''
      .add-btn
    .main_area__info
      %h1.main_area__info__title
        = @book.title
      .main_area__info__detail
        = "著　者：#{@book.author}"
      .main_area__info__detail
        = "出版社：#{@book.publisher}"
      .main_area__info__detail
        = "購入日：#{@book.buy_date.to_s}"
      .main_area__info__detail
        = "書籍タイプ:" + @book.kindle_i18n
      - if user_signed_in? && current_user.id == @book.user_id
        .btn-area
          = link_to edit_book_path(@book) do
            .btn.link-btn
              編集
          = link_to book_path(@book), method: :delete, data: { confirm: '削除しますか？' } do
            .btn.link-btn
              削除
          = link_to new_book_recollection_path(@book) do
            .btn2.link-btn
              感想を入力する

  - if @recollections.present?
    .recollection-title
      .recollection-title__box.block-center
        = @book.user.nickname + "さんの感想一覧"
      
    .recollection-area
      - @recollections.each do |r|
        .recollection-area__detail
          .readed-day
            = r.readed_day
          .note
            .note__box
              = truncate(r.note, length: 20)
          = link_to book_recollection_path(@book, r) do
            .btn3.link-btn
              感想詳細ページへ
  - else
    .recollection-title
      .recollection-title__box.block-center
        = @book.user.nickname + "さんの感想は入力されていません"

    
          

          
  
  