%h1.pageTitle
  書籍詳細ページ

.wrap
  .main_area
    .main_area__image
      .img_box
        = image_tag @book.image.url, alt: '書籍画像', height: '250', width: '169', class: ''
      .add-btn
    .main_area__info
      %h1.main_area__info__title
        = @book.title
      .main_area__info__author
        = "著者：#{@book.author}"
      .main_area__info__publisher_name
        = "出版社：#{@book.publisher}"
      .main_area__info__rate
        レビュー点数入力予定
      - if user_signed_in? && current_user.id == @book.user_id
        .d-btn
          = link_to "編集", edit_book_path(@book)
        .d-btn
          = link_to "削除", book_path(@book), method: :delete
        .d-btn
          = link_to "感想を入力する", new_book_recollection_path(@book)
        
  
  